.header {
  text-align: center;
}

.success {
  background-color: green;
  color: white;
}

.danger {
  background-color: red;
  color: white;
}

.warning {
  background-color: yellow;
  color: black;
}

label[for="switch"] strong{
  padding-right: 5% !important;
}

h1,h2 {
  margin: 0 !important;
}

label[for="range"]{
  text-align: center;
}

.blinking, .waiting {
  margin-left: 5%;
}


